<h3>{{title}}</h3>

<body>
<div id="create_datatype">
  <form novalidate [formGroup]="dtt_form" (ngSubmit)="onSubmit(dtt_form)">

    <div id="input_data">
    <div id="name">
      <label>
        Name<p></p>
      <input  formControlName="name" placeholder="Name of DataType" />
      </label>
      <div
        class="error"
        *ngIf="dtt_form.get('name').hasError('required') && dtt_form.get('name').touched">
        Name is required
      </div>
      <div
        class="error"
        *ngIf="dtt_form.get('name').hasError('minlength') && dtt_form.get('name').touched">
        Minimum of 5 characters
      </div>
    </div>
    <div id="csk">
      <label>
        Compact String of Keys<p></p> 
        <input formControlName="csk" placeholder="Write your CSK" />
      </label>
      <div
        class="error"
        *ngIf="dtt_form.get('csk').hasError('required') && dtt_form.get('csk').touched">
        Name is required
      </div>
      <div
        class="error"
        *ngIf="dtt_form.get('csk').hasError('minlength') && dtt_form.get('csk').touched">
        Minimum of 10 characters
      </div>
    </div>
    <div id="description">
      <label>
        Description<p></p>
        <textarea formControlName="description" placeholder="Describe the datatype"></textarea>
      </label>
      <div
        class="error"
        *ngIf="dtt_form.get('description').hasError('required') && dtt_form.get('description').touched">
        Name is required
      </div>
      <div
        class="error"
        *ngIf="dtt_form.get('description').hasError('minlength') && dtt_form.get('description').touched">
        Minimum of 10 characters
      </div>

    </div>

    <label>
      <input
        name="check"
        formControlName="check"
        type="checkbox"
        id="csk_check"
        value="False"
        required
      >Check if CSK graph it's ok</label>
      <p></p>

      <input id="btn-check_csk"
        name="check CSK"
        type="button"
        value="Check CSK"
        (click)="checkCSK()">

      <input id="reset"
        name="reset"
        type="button"
        value="{{refresh}}"
        (click)="clean()">

      <input [disabled]="isUnChecked && dtt_form.invalid"
        id="submit"
        name="submit"
        type="button"
        value="{{up_or_save}} DataType"
        (click)="save()">

      <input id="btn-delete"
        name="delete"
        type="button"
        value="Delete"
        (click)="delete()">
    </div>
  </form>
</div>
<div id="csk_graph">

</div>
</body>
