<h3>{{title}}</h3> 


<div class="grid grid-pad">
  <div *ngFor="let datatype of datatypes"  class="col-1-4">
    <div class="module datatype">
      <a [routerLink]="['/sci_input/datatype/view', datatype.id]"><h4>{{datatype.name}}</h4></a> 
      <ul>
        <li>{{datatype.csk}}</li>
        <li>{{datatype.description}}</li>
        <p>Graph:</p>
        <li>{{datatype.graph}}</li>
      </ul>
    </div>
  </div> 


</div>
