<h3>{{title }}{{dtt.name}}</h3>
<div id="datatype_view pd-{{rid}}" >
  <div id="result">{{result}}</div>
  <div id="name">{{ dtt.name }}</div>
  <div id="csk"> {{ dtt.csk }}</div> 
  <div id="description"> {{ dtt.description }}</div>
  <div id="graph"> {{ dtt.graph }} </div> 
  <input id="btn-get_dtt"
    name="GET DTT"
    type="button"
    value="GET DTT"
    (click)="getDTT()">

  <input id="btn-get_dtt"
    name="Delete"
    type="button"
    value="Delete DTT"
    (click)="deleteDTT()">

</div>
