<h2>{{title}}</h2>
<nav>
  <a routerLink="/sci_input/datatype/create">Create DataType</a>
  <a routerLink="/sci_input/datatypes/list">List DataTypes</a>
</nav>
<div id="left-1">
  <router-outlet></router-outlet>
</div>
