<h1>
  {{title}}
</h1>

<div id="nav">
  <div id="logo"></div>
  <div id="selector"></div>
</div>
<div id="main">

  <div id="col-1">
    <a routerLink="/sci_input">Sci Input</a>
    <a routerLink="/charts">Charts</a>
    <a routerLink="/datashow">DataShow</a>

  </div>
  <div id="left-1">
    <router-outlet></router-outlet>
  </div>

</div>
