
<div id="d3ts-{{var_name}}">


  <svg [attr.width]="svg_width" [attr.height]="svg_height">
    <svg:g [attr.transform]="x_title_transform()" id="x_axis_title">
      <text
        [attr.font-size]="x_title_font_size()"
        [attr.text-anchor]="x_title_anchor"
      >{{x_axis_name()}}</text>
    </svg:g>

    <svg:g [attr.transform]="y_title_transform()" id ="y_axis_title">
      <text
        [attr.font-size]="y_title_font_size()"
        [attr.text-anchor]="y_title_anchor"
      >{{y_axis_name()}}</text>
    </svg:g>

    <svg:g [attr.transform]="chart_title_transform()" id="timeserie_chart_title">
      <text
        [attr.font-size]="timeserie_title_font_size()"
        [attr.text-anchor]="timeserie_title_anchor"
      >{{chart_name()}}</text>
    </svg:g>

    <svg:g [attr.transform]="view_transform()">
    <svg:g>
      <rect
        [attr.x]="padding_w"
        [attr.y]="padding_h"
        [attr.width]="rect_w"
        [attr.height]="rect_h"
        id="d3ts-canvas"
      />
    </svg:g>

    <svg:g>
      <line
        [attr.x1]="axis_x.x1"
        [attr.y1]="axis_x.y1"
        [attr.x2]="axis_x.x2"
        [attr.y2]="axis_x.y2" id="axis_x"/>
    </svg:g>

      <svg:g>
        <line
          [attr.x1]="axis_x_bottom.x1"
          [attr.y1]="axis_x_bottom.y1"
          [attr.x2]="axis_x_bottom.x2"
          [attr.y2]="axis_x_bottom.y2" id="axis_bottom"/>
      </svg:g>

    <svg:g>
      <line
        [attr.x1]="axis_y.x1"
        [attr.y1]="axis_y.y1"
        [attr.x2]="axis_y.x2"
        [attr.y2]="axis_y.y2" id="axis_y"/>
    </svg:g>

    <svg:g *ngFor="let tick of y_tick_list">
      <svg:g *ngIf="showTicks">
        <g tick-axis-y
          [label]="tick.label"
          [position]="tick.y_position"
          [axis_x]="axis_x"
          [axis_y]="axis_y"
          [x1]="x1"
          [x2]="x2"
          [font_size_label]="x_font_size()"
        > 
        </g>
      </svg:g>
    </svg:g>

    <svg:g *ngFor="let tick of x_tick_list">
    <svg:g *ngIf="showTicks">
        <g tick-axis-x
          [label]="tick.label"
          [position]="tick.x_position"
          [axis_x]="axis_x"
          [axis_y]="axis_y"
          [y1]="y1"
          [y2]="y2"
          [font_size_label]="x_font_size()"
        > 
        </g>
    </svg:g>

    </svg:g>

    <svg:g *ngIf="list_of_figures()" id="shape_list">
       <svg:g *ngFor="let shape of shape_list">
      <g basic-shape
        [figure_type]="shape.figure_type"
        [properties]="shape.properties"
        [position_x_y]="shape.position_XY"
        [xScale]="xScale"
        [yScale]="yScale"
      >
      </g>
       </svg:g>
    </svg:g>

    </svg:g>

</svg>
</div>
