<h2>{{title}}</h2>

<div id="charts_main">
<nav>
  <a routerLink="/charts/chart/add">Add Chart</a>
  <a routerLink="/charts/charts/list">List Charts</a>
  <a routerLink="/charts/creator/add">Add Chart Creator</a>
  <a routerLink="/charts/creators/list">List Charts Creators</a>
</nav>
<router-outlet></router-outlet>
</div>
