<h2>Data Show</h2>

<h3>{{station}}</h3>

<div id="gps-chart">
  <d3-timeserie
    [chart_settings]="chart_settings"
    [var_name]="chart_name"
    [view]="[width, height]"
    [results]="data_serie.N"
    [set_titles]="set_titles.N"
    [figure_type]="figure_type"
    [properties]="properties"
    [position_x_y]="position_x_y"
    [shape_data]="send_figure_N"
    [shape_position_counter]="new_shape_position"
    (shape_position_emitter)="shapePositionUpdated($event)"
  >
  </d3-timeserie>

  <d3-timeserie
    [chart_settings]="chart_settings"
    [var_name]="chart_name"
    [view]="[width, height]"
    [results]="data_serie.E"
    [set_titles]="set_titles.E"
    [figure_type]="figure_type"
    [properties]="properties"
    [position_x_y]="position_x_y"
    [shape_data]="send_figure_E"
    [shape_position_counter]="new_shape_position"
    (shape_position_emitter)="shapePositionUpdated($event)"
  >
  </d3-timeserie>

  <d3-timeserie
    [chart_settings]="chart_settings"
    [var_name]="chart_name"
    [view]="[width, height]"
    [results]="data_serie.U"
    [set_titles]="set_titles.U"
    [figure_type]="figure_type"
    [properties]="properties"
    [position_x_y]="position_x_y"
    [shape_data]="send_figure_U"
    [shape_position_counter]="new_shape_position"
    (shape_position_emitter)="shapePositionUpdated($event)"
  >
  </d3-timeserie>
</div>
